.product-table-table {
  width: 100%;
}
.product-table-table {
  border-collapse: collapse;
  text-align: center;
}
.product-table-table > tbody > tr {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.customTH {
  padding: 25px 10px;
  cursor: pointer;
}
.customTH:hover {
  background-color: rgba(0,0,0,0.03);
}
.customTH > img {
  margin-left: 10px;
  width: 10px;
}
.product-table-table td {
  color: gray;
  padding: 10px;
}